h1 {
  color: $primary-06;
  font-size: $heading-2xl;
  font-weight: $font-extrabold;
  line-height: 120%;
}

h2 {
  color: $neutral-05;
  font-size: $heading-lg;
  font-weight: $font-bold;
  line-height: 120%;
}

h3 {
  color: $neutral-08;
  font-size: $heading-sm;
  font-weight: $font-bold;
  line-height: 120%;
}
h4 {
  color: $neutral-08;
  font-size: $heading-xs;
  font-weight: $font-bold;
  line-height: 120%;
}
h5 {
  color: $neutral-08;
  font-size: $heading-xs;
  font-weight: $font-bold;
  line-height: 120%;
}
h6 {
  color: $neutral-08;
  font-size: $heading-xs;
  font-weight: $font-bold;
  line-height: 120%;
}

