.banner-neighborhood {
  height: 400px;
  border-radius: $border-radius;
  margin-bottom: 24px;
  background-position: center center;
  background-size: cover;
}

.neighborhood-description {
max-width: 60%;
}