<div class="container">
<h4>Locais</h4>
<div class="flex-row tag-container">
<% @locations.each do |location| %>
  <%= link_to location.name, location,class:"tag-link" %>
<% end %>
</div>
<h4>Eventos</h4>
<% @events.each do |event| %>
  <%= link_to event.title, event,class:"tag-link" %>
<% end %>

<h4>Cidades</h4>
<% @cities.each do |city| %>
  <%= link_to city.name, city,class:"tag-link" %>
<% end %>

<h4>Bairros</h4>
<% @neighborhoods.each do |neighborhood| %>
  <%= link_to neighborhood.name, neighborhood,class:"tag-link" %>
<% end %>
</div>
