<div class="grid-card-sq-sm">
  <% elements.each do |category| %>
    <% asset_url = asset_path('teste-sp.png') %>
    <%= link_to locations_path(category: category, city: @city || nil, neighborhood: @neighborhood || nil), 
                                class: "card-sq-sm text-decoration-none", 
                                style: "background-image: url('#{asset_url}');" do %>
      <div class="card-sq-sm-content">
        <%= category %>
      </div>
    <% end %>
  <% end %>
</div>
