<div class="banner-home" style="background-image: url('<%= image_url("banners/banner-home.jpg") %>');" >
  <div class="centered">
    <div class="banner-home-content">Viva como local onde estiver</div>
    <div class="banner-search"><%= render "search_view" %></div>
  </div>
</div>
