<section id="banner-home">
  <%= render "banner" %>
</section>

<section id="city-suggest">
  <h3>Vai viajar?</h3>
    <% @elements = @cities.take(3) %>
    <%= render "shared/cards/card_city", elements: @elements %>
</section>

<%# <section id="banner-call">
  <div class="banner-home">
    <h1>BANNER</h1>
  </div>
</section> %>

<section>
  <h3>O que gostaria de fazer?</h3>
  <%= render 'shared/cards/card_category', elements: Location.categories %>
</section>
