<div data-controller="universal-search">
  <section id="banner-home">
    <%= render "banner" %>
  </section>
  <section id="city-suggest">
    <div>
      <div data-universal-search-target="results"></div>
    </div>
    <div>
      <h3>Vai viajar?</h3>
      <p>Explore seus destinos com o que selecionamos de melhor em cada lugar.</p>
      <% @elements = @cities.take(3) %>
      <%= render "shared/cards/card_city", elements: @elements %>
    </div>
  </section>
</div>

<section id="travel-info">
  <div class="travel-info">
    <div class="travel-image-container">
      <div class="travel-info-image" style="background-image: url('<%= image_url("cities/sp-metro.jpg") %>');" ></div>
    </div>
    <div class="travel-info-content">
      <p class="travel-info-small mb-2">Dicas dos nossos colaboradores</p>
      <h3 class="" >Mobilidade</h3>
      <p class="travel-info-text" >Precisa se locomover pela cidade? Temos um guia preparado para que você possa andar por aí como um local, com informações sobre os principais meios de transporte e dicas para garantir sua segurança nas ruas.</p>
    </div>
  </div>
</section>

<section>
  <h3>O que gostaria de fazer?</h3>
  <%= render 'shared/cards/card_category', elements: Location.categories %>
</section>
