<section id="banner-home">
  <%= render "banner_home" %>
</section>

<section id="city-suggest">
  <h3>Vai viajar?</h3>
  <div class="grid-card-sq-lg">
    <% @cities.each do |city| %>
      <%= link_to city_path(city.id), class: "card-sq-lg" do %>
        <div class="card-sq-lg-content">
          <%= city.name %>
        </div>  
      <% end %>
    <% end %>
  </div>
</section>




<section id="banner-call">
  <div class="banner-home">
    <h1>BANNER</h1>
  </div>
</section>

<section>
  <h3> O que gostaria de fazer </h3>
  <%= render 'shared/filter_category' %>
</section>
