<div class="grid-card-category">
  <% elements.each do |category| %>
    <% if category == "Café" %>
      <% image_url = "https://res.cloudinary.com/go-local/image/upload/v1693959984/categories/cafe_upnhne.jpg" %>
    <% elsif category == "Bar" %>
      <% image_url = "https://res.cloudinary.com/go-local/image/upload/v1693959984/categories/bar_bqnrmr.jpg" %>
    <% elsif category == "Parque" %>
      <% image_url = "https://res.cloudinary.com/go-local/image/upload/v1693959984/categories/park_kdtxoo.jpg" %>
    <% elsif category == "Loja" %>
      <% image_url = "https://res.cloudinary.com/go-local/image/upload/v1693959984/categories/loja_sj9lar.jpg" %>
    <% elsif category == "Restaurante" %>
      <% image_url = "https://res.cloudinary.com/go-local/image/upload/v1693959985/categories/restaurant_kv96mc.jpg" %>
    <% elsif category == "Museu" %>
      <% image_url = "https://res.cloudinary.com/go-local/image/upload/v1693959984/categories/museu_icxbzl.jpg" %>
    <% end %>
    <%= link_to locations_path(category: category, city: @city || nil, neighborhood: @neighborhood || nil),
                                class: "card-category text-decoration-none",
                                style: "background-image: url('#{image_url}');" do %>
      <div class="card-category-content">
        <%= category %>
      </div>
    <% end %>
  <% end %>
</div>
<%# <% asset_url = asset_path("teste-sp.png") %>
<%# , style: "background-image: url('#{asset_url}');" %>
