<div class="grid-card-event">
  <% @locations.each do |location| %>
    <%= link_to location_path(location), class: "card-event", data: {id: location.id, action: "mouseover->map#highlightMarker mouseout->map#unhighlightMarker"} do %>
      <div class="card-event-content">
        <div class="card-event-img">
        </div>
        <div class="card-event-title clamp-2">
          <h4><%= location.name %></h4>
        </div>
        <div class="card-event-description clamp-2">
          <%= location.description %>
        </div>
        <div class="card-event-description clamp-2">
          <%= location.address %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="grid-card-location">
  <%# elements.each do |element| %>
    <%# asset_url = element.photo.url %>
    <%# path_url = neighborhood_path(element.id) %>
    <%#= link_to path_url, class: "card-location", style: "background-image: url('#{asset_url}');"  do %>
      <div class="card-location-content">
        <%#= element.name %>
      </div>
      <div class="card-event-title clamp-2">
          <h4><%#= location.name %></h4>
        </div>
        <div class="card-event-description clamp-2">
          <%#= location.description %>
        </div>
        <div class="card-event-description clamp-2">
          <%#= location.address %>
        </div>
    <%# end %>
  <%# end %>
</div>
