<div class="grid-card-event">
  <% elements.each do |location| %>
    <%= link_to location_path(location), class: "card-event", data: {id: location.id, action: "mouseover->map#highlightMarker mouseout->map#unhighlightMarker"} do %>
      <div class="card-event-content">
        <div class="card-event-img">
        </div>
        <div class="card-event-title clamp-2">
          <h2><%= location.name %></h2>
        </div>
        <div class="card-event-description clamp-2">
          <%= location.description %>
        </div>
        <div class="card-event-description clamp-2">
          <%= location.address %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
