<div class="grid-card-category">
  <% elements.each do |category| %>
    <%= link_to locations_path(category: category, city: @city || nil, neighborhood: @neighborhood || nil), 
                                class: "card-category text-decoration-none" do %>
      <div class="card-category-content">
        <%= category %>
      </div>
    <% end %>
  <% end %>
</div>

<%# <% asset_url = asset_path('teste-sp.png') %>
<%# , style: "background-image: url('#{asset_url}');" %>
