.edit-form{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
}

.border-radius-input {
  border-radius: $border-radius;
  padding: 8px;
  border: 1px solid $neutral-07;

  &:active {
    border: 3px solid $neutral-07;
  }
}
