
<div class="card-event-img"></div>
<h2><%= location.name %></h2>
<p><%= location.address %></p>

<div class="location-item" data-controller="favorite">
  <i data-action="click->favorite#toggle" data-favorite-location-id="<%= location.id %>" class="far fa-heart favorite-btn"></i>
</div>
