<div class="h-auto login-page">
  <div class="text-center mb-5">
    <h2>Cadastrar local</h2>
  </div>
  <div class="form-inputs login-form m-auto">
    <%= render "form", event: @location %>
  </div>
</div>
